* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Libre Baskerville", serif;
  background-color: #f7f3ee;
  color: #343134;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.header {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 1.2em;
  color: #e41d17;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1.5rem;
  column-gap: 0.8rem;
}

.steak-img {
  width: 200px;
  height: 200px;
}

.steak-card {
  display: flex;
  align-items: center;
}

.sold-out {
  filter: grayscale(75%);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
